# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.1
    - name: Setup .NET
      uses: actions/setup-dotnet@v4.0.0
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: | 
        dotnet restore
    - name: Build FrostySdk
      run: |
        cd FrostySdk
        dotnet build --no-restore
    - name: Build FrostySdkTest
      run: |
        cd FrostySdkTest
        dotnet build --no-restore
    - name: Build FrostyModSupport
      run: |
        cd FrostyModSupport
        dotnet build --no-restore
    - name: Build FrostyCli
      run: |
        cd FrostyCli
        dotnet publish -c Release --runtime win-x64 --self-contained /p:DebugType=None /p:DebugSymbols=false
        dotnet publish -c Release --runtime linux-x64 --self-contained /p:DebugType=None /p:DebugSymbols=false
    - name: Upload linux
      uses: actions/upload-artifact@v4.3.0
      with: 
        name: FrostyCli-linux-x64
        path: FrostyCli/bin/Release/net7.0/linux-x64/publish
    - name: Upload windows
      uses: actions/upload-artifact@v4.3.0
      with: 
        name: FrostyCli-win-x64
        path: FrostyCli/bin/Release/net7.0/win-x64/publish
    - name: Build FrostyEditor
      run: |
        cd FrostyEditor
        dotnet publish -c Release --runtime win-x64 --self-contained /p:DebugType=None /p:DebugSymbols=false
        dotnet publish -c Release --runtime linux-x64 --self-contained /p:DebugType=None /p:DebugSymbols=false
    - name: Upload linux
      uses: actions/upload-artifact@v4.3.0
      with:
        name: FrostyEditor-linux-x64
        path: FrostyEditor/bin/Release/net7.0/linux-x64/publish
    - name: Upload windows
      uses: actions/upload-artifact@v4.3.0
      with:
        name: FrostyEditor-win-x64
        path: FrostyEditor/bin/Release/net7.0/win-x64/publish
    - name: Test
      run: dotnet test --no-build --verbosity normal
